[submodule "docutils-html5-writer"]
	path = docutils_html5_writer
	url = https://github.com/eegg/docutils-html5-writer.git
[submodule "kdedistutils"]
	path = kdedistutils
	url = git://github.com/lunaryorn/kdedistutils.git
